.card-img-top{
    border-radius: 10px;
    
}
.card1{
    width: 350px;
    padding-right: 26px;
    margin-top: 15px;
    padding-top: 10px;
    
}
.card2{
    width: 350px;
    padding-right: 13px;
    margin-top: 15px;
    padding-top: 10px;
}
.card3{
    width: 350px;
    margin-top: 15px;
    margin-left: 12px;
    padding-top: 10px;
}
.card4{
    width: 350px;
    padding-right: 26px;
    margin-top: 30px;
    
}
.card5{
    width: 350px;
    padding-right: 13px;
    margin-top: 30px;
}
.card6{
    width: 350px;
    margin-top: 30px;
    margin-left: 12px;
}

.input-group{
    height: 30px;
    width: 220px;
}